<!DOCTYPE html>
<html lang="en" ng-app="twitterAPI">
  <head>
    <title>Web Science Systems Development Lab 7</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="tweets.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" media="(max-width: 800px)" href="tweets.css" />
  </head>
  <body>
    <div ng-controller="firstController">
      <div class="col-md-4 col-lg-4 col-centered">
        <h1>Tweets <i class="fa fa-twitter"></i></h1>
        <div class="tweets">
          <div class="row">
            <!-- instructions for the user -->
            <p class="info">Type in a keyword you want to find tweets about, then pick the number of tweets you want to load. If you don't type in a keyword, tweets from around the RPI area will appear, but you still have to choose a number of tweets.</p>
            <p class="info">Clicking "Load" will grab the tweets from Twitter, but they will not appear on the screen. If you pick a file type and click "Export", then the loaded tweets will be placed in the respective file.</p>
            <p class="info">Clicking "Build" will build a Mongo database with the tweets that were loaded in it. If you do not click "Load" before "Build", there will be no tweets in the database.</p>
            <p class="info">Clicking "Read" will display the tweets from the database onto the screen.</p>
            <p class="info">If you type in a file name and click "XML", the tweets from the database will be loaded into an XML file with the file name you chose.</p>
            <p class="info">Every time you want to build the database and read from it, you have to refresh this page.</p>
            <div class="col-lg-6">
              <!-- adds the search bar -->
              <div class="input-group">
                <span class="buttons">
                  <input type="text" class="form-control" ng-model="search" id="searchBar" placeholder="Search for...">
                </span>
                <span class="buttons">
                  <!--adds the number picker and sets the value so the javascript can use it in the stream-->
                  <select ng-model="count" ng-init="count.x" class="form-control" id="sel1">
                    <option value="" disabled selected>#</option>
                    <option ng-repeat="x in num" value="{{x}}">{{x}}</option>
                  </select>
                </span>
              </div>
              <div class="only-button">
                <button class="btn btn-info" id="submitButton" type="button" ng-click="searchFunction()">Load</button>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="input-group">
                <span class="buttons">
                  <select ng-model="exportType" ng-init="exportType.y" class="form-control" id="sel2">
                    <!--adds the file type dropdown-->
                    <option value="" disabled selected>File Type</option>
                    <option ng-repeat="y in exportList" value="{{y}}">{{y}}</option>
                  </select>
                </span>
              </div>
              <div class="only-button">
                <!--adds the export button-->
                <button class="btn btn-info" id="exportButton" type="button" ng-click="exportFunction()">Export</button>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control fileName" id="fileName" placeholder="File Name" ng-model="fileName">
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="btn-group">
                <button type="button" class="btn btn-info" ng-click="buildFunction()">Build</button>
                <button type="button" class="btn btn-info" ng-click="readFunction()">Read</button>
                <button type="button" class="btn btn-info" ng-click="XMLFunction()">XML</button>
              </div>
            </div>

            <!--loading gif for when the tweets are being populated-->
            <img id="loading" style="display: none;" class="img-responsive" src="loading.gif" alt="Loading...">
          </div>
          <!-- repeats this for every tweet -->
          <div class="well" ng-repeat="i in tweets">
            <h2 class="user">
              <!-- adds username and profile photo -->
              <img ng-src="{{i.user.profile_image_url}}" class="img-circle" alt="" /><a href="http://twitter.com/{{i.user.screen_name}}" target="_blank">{{i.user.screen_name}}</a>
            </h2>
            <p class="body">{{i.text}}</p>
            <!-- adds retweet and favorite statistics -->
            <div class="col-sm-4 col-md-6 actions"><i class="fa fa-retweet"></i> {{i.retweet_count}}&nbsp;&nbsp;&nbsp;<i class="fa fa-heart"></i> {{i.favorite_count}}</div>
            <!-- use custom parse function to split up the date/time to only show the date -->
            <div class="col-sm-4 col-md-6 date"><span class="pull-right">{{mySplit(i.created_at,1)}}. {{mySplit(i.created_at,2)}}, {{mySplit(i.created_at,5)}}</span></div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="tweets.js"></script>
  </body>
</html>